@model IEnumerable<Veri_Tabani_Odevi.Models.Mulakat>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OgrenciNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OgrenciAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OgrenciSoyadi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OgrenciOgretim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OgrenciSinif)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MulakatYeri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MulakatTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MulakatSaati)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OgrenciNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OgrenciAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OgrenciSoyadi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OgrenciOgretim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OgrenciSinif)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MulakatYeri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MulakatTarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MulakatSaati)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MulakatId }) |
            @Html.ActionLink("Details", "Details", new { id = item.MulakatId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MulakatId })
            
        </td>
    </tr>
}

</table>
