@model IEnumerable<Veri_Tabani_Odevi.Models.OgrenciYaparStaj>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ogrenci.OgrenciAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Staj.KurumAdi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ogrenci.OgrenciAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Staj.KurumAdi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OgrenciYaparStaj_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.OgrenciYaparStaj_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OgrenciYaparStaj_Id })
        </td>
    </tr>
}

</table>
